<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN-CREATE</title>
</head>
<body>
    <h1>ADMIN CHANNEL - CREATE AN ITEM</h1>
    <form action="/admincreate_request" method="POST">
        Product Id:<input type="text" name="product_id"><br>
        Product Name:<input type="text" name="product_name"><br>
        Product Company:<input type="text" name="product_company"><br>
        Product Quantity:<input type="text" name="product_quantity"><br>
        Product Price:<input type="text" name="product_price"><br>
        <input type="submit" value="Add Item">
</form>
</body>
</html>