<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>READED-ALL</title>
</head>
<body>
    <h1>Welcome, <%= uname %></h1>
    <form action="/buy" method="post">
        <input type="submit" value="Want to Buy">
    </form>
    <br>
    <form action="/deleteUserAccount" method="POST">
        <input type="submit" value="Want to Delete your Account">
    </form>
    <br>
    <form action="/updateyourinfo" method="POST">
        <input type="submit" value="Want to Update your Account">
    </form>
    <br>
    
    <form action="/login" method="POST">
        <input type="submit" value="Log-Out">
    </form>
</body>
</html>