<html>
    <head>
        <title>LogIn</title>
    </head>
    <body>

        <h1>Log In</h1>
        
        <form action="/dashboard" method="POST">
            <label for="uname">Username</label>
            <input type="text" name="username" required><br>
            <label for="password">Password</label>
            <input type="text" name="password" required><br>
            <input type="submit" value="SignIn">
        </form>

        <form action="/signup" method="POST">
            <input type="submit" value="SignUp">
        </form>
    </body>
</html>